*{
    scroll-behavior: smooth;
}
.jum1{
    background-color: rgba(19, 85, 100, 0.95);
}
.jum3{
    background-color: rgba(19, 85, 100, 0.95);
}
.jum1{
    height: 340px;
}
.jum1 .container img{
    width: 13%!important;
    height: 13%!important;
}
.jum2 .container .card-columns .bg-info img{
    width: 100%!important;
    height: 100%!important;
}
.jum3{
    height: 400px;
}
.jum3 .container button{
    margin: 0 auto;
}
@media only screen and (min-width: 576px) {
    .jum3{
        margin-top: 100px;
    }
    .jum4{
        margin-top: 100px !important;
    }
    .jum5 .container .row .c3{
    }
}